<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medlife">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedLife">
        <activity
            android:name=".Profile.InsideProfile.FakeActivity"
            android:exported="false" />
        <activity
            android:name=".home.fragments.home.DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".admin.DashBoardActivity.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".admin.addProduct.SelectCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".admin.addProduct.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".home.Notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".home.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.address.AddNewLocationActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.InsideProfile.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.InsideProfile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.InsideProfile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.InsideProfile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.InsideProfile.SecurityActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.InsideProfile.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.InsideProfile.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.InsideProfile.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".admin.products.ListProductsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.addCategory.ListCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".home.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".home.OurTeamActivity"
            android:exported="false" />
        <activity
            android:name=".home.TermsOfUseActivity"
            android:exported="false" />
        <activity
            android:name=".home.PolicesActivity"
            android:exported="false" />
        <activity
            android:name=".home.AboutMedLifeActivity"
            android:exported="false" />
        <activity
            android:name=".PopularProducts.PopularProductsActivity"
            android:exported="false" />
        <activity
            android:name=".uploadPrescription.PrescriptionSubmitActivity"
            android:exported="false" />
        <activity
            android:name=".uploadPrescription.ConfirmationActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth" />
        <activity
            android:name=".uploadPrescription.UploadPrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.orderComplete.OrderCompleteActivity"
            android:exported="false"
            android:theme="@style/Theme.HomeTheme" />
        <activity
            android:name=".checkout.address.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.CheckOutActivity"
            android:exported="false"
            android:theme="@style/Theme.HomeTheme" />
        <activity
            android:name=".categoryActivity.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".singleProductPage.SingleProductActivity"
            android:exported="false"
            android:theme="@style/Theme.HomeTheme" />
        <activity
            android:name=".userAccount.UserAccountActivity"
            android:exported="true"
            android:theme="@style/Theme.HomeTheme" />
        <activity
            android:name=".splash.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.HomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HomeTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>